@model IEnumerable<Kanban.Models.Board>

@{
    ViewData["Title"] = "Board";
}

<h1>Board</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PartitionKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RowKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsVisible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SwimlaneID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SwimlaneTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SwimlaneOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColumnID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColumnTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColumnOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PartitionKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RowKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsVisible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SwimlaneID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SwimlaneTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SwimlaneOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColumnID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColumnTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColumnOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardDescription)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
